.left-side{
    width: 180px;
    height: auto;
    margin-top: 42px;
    background: #e9ebee;
    display: inline-block;

    &__img{
        width: 175px;
        height: 175px;
        background: rgb(17, 199, 190);
        background-image: url('https://www.thehindu.com/sci-tech/technology/internet/article17759222.ece/alternates/FREE_660/02th-egg-person');
        background-size: cover;
        margin-top: 10px;
        padding: 4px;
        border-radius: 50%;

    }

    &__name{
        width: 180px;
        height: auto;
        margin-top: 20px;

        &__span{
            // color: #1d2129;
            // font-size: 20px;

            &__link{
                text-decoration: none;
                color: #1d2129;
                font-size: 20px;
                font-weight: normal;
                line-height: 24px;
            }

            &:hover{
                text-decoration: underline;
            }
        }

        &__link{
            color: #90949c;
            font-size: 13px;
            font-weight: 600;
            line-height: 18px;
            margin-top: 4px;
        }
    }
    
    &__nav{
        width: 180px;
        height: auto;
        margin-top: 10px;

        &__list{
            list-style: none;
            

            &__items{
                padding: 7px 5px 7px 0;

                &:first-child{
                    background: #f5f6f7;
                    border: 1px solid #dddfe2;
                    border-radius: 2px;
                    margin-right: 5px;
                    font-weight: bold;
                }
                
                &:hover{
                    background: #f5f6f7;
                    border: 1px solid #dddfe2;
                    border-radius: 2px;
                    margin-right: 5px;
                }
               

                &__link{
                    margin-left: 4px;
                    text-decoration: none;
                    color: #1d2129;
                    font-size: 14px;
                }
            }
        }
    }
}
