.right-side{
    width: 205px;
    height: calc(100vh - 72px);
    position: fixed;
    top: 42px;
    right: 0;
    border-left: 1px solid rgba(0, 0, 0, .4);
    box-shadow: inset 2px 0 2px -2px #b2b9c9;
    font-size: 1.2rem;
    background: #e9ebee;

    &:hover{
        overflow-y: scroll;
    }

    &__list{
        padding-top:5px;
        overflow-y:auto;

        &__item{
            width:100%;
            height:40px;
            overflow:hidden;

            &:hover{
                background: #bfc4cf;
            }

            &__content{
                padding-top:4px;
                padding-left:8px;
            }

            &__picture{
                background-image: url('https://www.thehindu.com/sci-tech/technology/internet/article17759222.ece/alternates/FREE_660/02th-egg-person');
                background-size: cover;
                width:32px;
                height:32px;
                // background: rgb(235, 88, 88);
                border-radius:50%;
                float:left;
            }

            &__name{
                margin-left:8px;
                line-height: 32px;
                color: #333;
                font-size:12px;
                float:left;
            }

            &__circle{
                width:6px;
                height:6px;
                background: rgb(66, 183, 42);
                border-radius:50%;
                float:right;
                margin-right:12px;
                margin-top:12px;
            }
        }
    }

    &__search{
        position: fixed; 
        bottom: 0;
        border-top: 1px solid rgb(218, 223, 234);
        overflow: hidden;
        background: #f5f6f7;

        &__icons{
            height:100%;
            width:30px;
            float:left;

            & i {
                font-size: 14px;
                color: #BEC3C8;
                padding: 3px;
                margin-left: 5px;
                line-height: 30px;
            
            }
        }

        &__icons2{
            width:98px;
            height:30px;
            float:left;

            & i {
                font-size:16px;
                color:#BEC3C8;
                padding-bottom:3px;
                margin-right:8px;
                line-height:30px;

                &:hover{
                    color:rgb(89, 87, 87);
                }
            }
        }

        & input {
            width: 79px;
            height: 30px;
            float: left;
            border: none;
            outline: none;
            padding-left: 3px;
            background-color: #f5f6f7;
            font-size: 14px;
        }
    }
}
.right {
    float:right;
}
